# Intellij
.idea/
*.iml
*.iws
workspace.xml

# Mac
.DS_Store

# Maven
#log/
#target/
#pipe-gui/dependency-reduced-pom.xml

#ANTLR
#pipe-core/gen

#PIPE
#PipeTestFile.xml

.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
